# - Formatting...

**- There are several ways to format output .**

- important note --> The final result of any formating process is string .

# - First way ( old)...

- %s --> string or numbers or character .

- %d --> digit (int).

- %f --> digit (float) #defualt 6 zeros after point.

- %c --> character or assci .

In [24]:
y=100
print("The value of y is ",y) #without formating 

#print("The value of y is %"%y) #--> error

print("The value of y is %d" %y)#with formating

The value of y is  100
The value of y is 100
The value of y is 100

**- What type should I use?**

- if data type of variable :
    - number --> you can use (%d , %f , %s , %c(assci))
    - string --> you can use only (%s)
    - character  --> you can use  (%s,%c)

In [27]:
y=10
a=5.4
print("The value of y is %s"%y) 

print("The value of y is %d"%y) 

print("The value of y is %f"%y)

The value of y is 10
The value of y is 10
The value of y is 10.000000

In [28]:
y=10
print("The value of y is %s"%10)

The value of y is 10

In [29]:
print("The value of y is %d"%(y+a))

The value of y is 15

In [72]:
print("The value of y is %d and a is %d"%(y,a))

The value of y is 10 and a is 5

**- What is the difference between %s and %d  in number?**

**- Each type has different characteristics and features than others.**

In [53]:
y=1000000000000

print("The value of y is %s"%y) 



print("The value of y is %.1s"%y) 


print("The value of y is %.2s"%y) 

print("The value of y is %.3s"%y)

The value of y is 1000000000000
The value of y is 1
The value of y is 10
The value of y is 100

In [286]:
y=1000000000000
print("The value of y is %d"%y) 
print("The value of y is %.1d"%y) 
print("The value of y is %.2d"%y) 
print("The value of y is %.3d"%y)

The value of y is 1000000000000
The value of y is 1000000000000
The value of y is 1000000000000
The value of y is 1000000000000

In [62]:
y=1000000000000
print("The value of y is %f"%y) 
print("The value of y is %.2f"%y)
print("The value of y is %.1f"%y) 
print("The value of y is %.3f"%y)

The value of y is 1000000000000.000000
The value of y is 1000000000000.00
The value of y is 1000000000000.0
The value of y is 1000000000000.000

In [1]:
y=10
print("The value of y is %f"%y) 
print("The value of y is %.2f"%y)
print("The value of y is %.1f"%y) 
print("The value of y is %.3f"%y)

The value of y is 10.000000
The value of y is 10.00
The value of y is 10.0
The value of y is 10.000

In [2]:
y=10.78
print("The value of y is %f"%y) 

print("The value of y is %.2f"%y)
print("The value of y is %.1f"%y) 
print("The value of y is %.3f"%y)

The value of y is 10.780000
The value of y is 10.78
The value of y is 10.8
The value of y is 10.780

In [66]:
x="The value of y is %s"%y
print(x)
type(x)

The value of y is 1000000000000

str

In [67]:
x="The value of y is %d"%y
print(x)
type(x)

The value of y is 1000000000000

str

In [68]:
x="The value of y is %f"%y
print(x)
type(x)

The value of y is 1000000000000.000000

str

In [30]:
y=10
x="The value of y is %c"%y
print(x)
type(x)

The value of y is

str

In [80]:
y=1
x="The value of y is %c"%y
print(x)
type(x)

The value of y is 

str

In [32]:
y=97
x="The value of y is %c"%y
print(x)
type(x)

The value of y is a

str

# Sign (old way)..

In [33]:
y=10
print("The value of y is %d "%-y)

The value of y is -10

In [12]:
y=10
print("The value of y is %-d"%y)

The value of y is 10

In [16]:
y=10
print("The value of y is %+d"%y)

The value of y is +10

In [15]:
y=10
print("The value of y is %d"%y)

The value of y is 10

# Space (old way)...

- default: right ...

In [34]:
y='Python'
"The value of y is %20s"%y

'The value of y is               Python'

In [36]:
# Space with slicing :
y='Python'
"The value of y is %20.2s"%y

'The value of y is                   Py'

# Fill space(old way)...

- (only for numbers ( %d,%f ) ).

In [36]:
y=1088888
"The value of y is %020d"%y

'The value of y is 00000000000001088888'

# Second way...

In [65]:
y=97

print("The value of y is {}".format(y))

#print("The value of y is {:s}" .format(y))#--> error

The value of y is 97

- Note:
    - {index:type}

# Type..

- s --> string or character only .

- d and f --> number only . 

- c --> character or assci .

In [139]:
#String 
y='Python'
print("The value of y is {:.1s}" .format(y))
print("The value of y is {:.3s}" .format(y))
print("The value of y is {:.2s}" .format(y))

The value of y is P
The value of y is Pyt
The value of y is Py

In [66]:
#numbers (int)
y=2555555
print("The value of y is {:d}" .format(y))
print("The value of y is {:,d}" .format(y))
print("The value of y is {:_d}" .format(y))

The value of y is 2555555
The value of y is 2,555,555
The value of y is 2_555_555

In [68]:
#numbers (float)
y=2555555
print("The value of y is {:f}" .format(y))
print("The value of y is {:,f}" .format(y))
print("The value of y is {:,.3f}" .format(y))
#print("The value of y is {:.3,f}" .format(y)) --> error

The value of y is 2555555.000000
The value of y is 2,555,555.000000
The value of y is 2,555,555.000

In [69]:
#character
y=1
y2=97
y3=10
print("The value of y is {:c}" .format(y))
print("The value of y is {:c}" .format(y2))
print("The value of y is {:c}" .format(y3))

The value of y is 
The value of y is a
The value of y is

# Index..

In [71]:
y=2555555
a=30
print("The value of y is {0:f} and a is {1:d}" .format(y,a))

The value of y is 2555555.000000 and a is 30

In [72]:
print("The value of y is {1:f} and a is {0:d}" .format(y,a))

The value of y is 30.000000 and a is 2555555

In [73]:
print("The value of y is {1:f} and a is {1:d}".format(y,a))

The value of y is 30.000000 and a is 30

In [74]:
print("The value of y is {first:f} and a is {last:d}".format(last=a,first=y))

The value of y is 2555555.000000 and a is 30

In [80]:
print("The value of y is {:f} and a is {:d}" .format(last=a,first=y))

IndexError: Replacement index 0 out of range for positional args tuple

In [81]:
print("The value of y is {1:f} and a is {0:d}" .format(last=a,first=y))

IndexError: Replacement index 1 out of range for positional args tuple

In [82]:
print("The value of y is {:f} and a is {:d}" .format(a,y))

The value of y is 30.000000 and a is 2555555

In [44]:
'{0} {0} {1}'.format('Happy', 'Birthday')

'Happy Happy Birthday'

# Space..

In [85]:
y='Python'
"The value of y is {:20s}" .format(y)

'The value of y is Python              '

#  Alignment..

- Note: defualt --> right for numbers , left for strings .
    - (< : left )

    - (> : right) 

    - (^ : center )

In [34]:
y=8
"The value of y is {:20d}" .format(y)

'The value of y is                    8'

In [36]:
y='python' 
"The value of y is {:20s}" .format(y)

'The value of y is python              '

In [87]:
y=9
"The value of y is {:<20d}" .format(y)

'The value of y is 9                   '

In [5]:
y='Python'
"The value of y is {:>20s}" .format(y)

'The value of y is               Python'

In [155]:
y=2
"The value of y is {:^20s}" .format(y)

'The value of y is        Python       '

# Fill space..

In [51]:
y=10
print("The value of y is {:010d} ".format(y))

The value of y is 0000000010

In [39]:
y=9
print("The value of y is {:<010d} ".format(y))

The value of y is 9000000000

In [14]:
y=9
print("The value of y is {:>010d} ".format(y))

The value of y is 0000000009

In [15]:
y=9 
print("The value of y is {:^010d} ".format(y))

The value of y is 0000900000

#  Sign ...

In [182]:
y=10
print("The value of y is {:+d} ".format(y))

The value of y is +10

In [43]:
y=10
print("The value of y is {:d} ".format(+y))

The value of y is 10

In [41]:
y=10
print("The value of y is {:d} ".format(-y))

The value of y is -10

In [42]:
y=10
print("The value of y is {:-d} ".format(y))

The value of y is 10

# - All  features in one statement..

# String..

In [89]:
y="python"
#slicing  , space, alignment , fill 
"The value of y is {:.2s} ".format(y)

'The value of y is py '

In [91]:
"The value of y is {:10.2s} ".format(y)

'The value of y is py         '

In [93]:
"The value of y is {:>10.2s} ".format(y)

'The value of y is         py '

In [100]:
"The value of y is {:1>10.2s} ".format(y)

'The value of y is 11111111py '

In [43]:
"The value of y is {:>010.2s} ".format(y)

'The value of y is 00000000py '

In [44]:
"The value of y is {:1>10.2s} ".format(y)

'The value of y is 11111111py '

In [54]:
"The value of y is %110.2s "%y

'The value of y is                                                                                                             py '

# Number..

In [101]:
y=5
# space, alignment , fill , sign , grouping

"The value of y is {:10d} ".format(y)

'The value of y is          5 '

In [102]:
"The value of y is {:<10d} ".format(y)

'The value of y is 5          '

In [103]:
"The value of y is {:1<10d} ".format(y)

'The value of y is 5111111111 '

In [104]:
"The value of y is {:<010d} ".format(y)

'The value of y is 5000000000 '

In [106]:
"The value of y is {:+<10d} ".format(y)

'The value of y is 5+++++++++ '

In [60]:
"The value of y is {:<010d} ".format(-y)

'The value of y is -500000000 '

In [111]:
y=666666666
"The value of y is {:<10_.2f} ".format(y)

'The value of y is 666_666_666 '

In [63]:
y=5
"The value of y is {:<010,d} ".format(y)
The value of y is  5-->5

'The value of y is 5000000000 '

# Third way (remove index)...

**- All the features mentioned above apply to this way , the difference is the syntax...**

- Syntax: 
    - {name of variabel:type}

In [3]:
y=97

#print("The value of y is {}" .format(y))

print(f"The value of y is {y:}" )

print(f"The value of y is {y:d}" )

The value of y is 97

In [3]:
y=100
print("The value of y is {:0<+10d} ".format(y))


print(f"The value of y is {y:0>+10d} ")

The value of y is +100000000
The value of y is 000000+100

**- Note--> You can also use capital letters ..**

In [254]:
#Example..
print(f'{100:f}')
print(f'{100:F}')

100.000000
100.000000

# Decimal library...

**- The decimal module provides support for fast correctly rounded decimal floating point arithmetic.**

In [5]:
from decimal import Decimal

In [6]:
f'{"10000000000000000000000000.0":f}' #--> error

ValueError: Unknown format code 'f' for object of type 'str'

In [10]:
f'{Decimal("10000000000000000000000000.0"):f}'

'10000000000000000000000000.0'

In [18]:
type(Decimal("10000000000000000000000000.0")) #object

decimal.Decimal

# Exponential type...

In [1]:
print('%e'%4)
#4--> 4.000000 --> 4.000000e+00
print('%e'%476)
#476 --> 4.760000e+02
#
print('%.2e'%4)
#4 --> 4.00e+00
#
print('%.1e'%455)
#455 --> 4.6e+02
#
print('%.5E'%100)#capital 
#100 --> 1.00000e+02

4.000000e+00
4.760000e+02
4.00e+00
4.6e+02
1.00000E+02

In [20]:
print('{:e}'.format(4))
#
print('{:.1e}'.format(4))
#
print('{:.2e}'.format(4))
#
print('{:.2e}'.format(455))
#
print('{:.5E}'.format(1000))

4.000000e+00
4.0e+00
4.00e+00
4.55e+02
1.00000E+03

In [31]:
print(f'{4:e}')
#
print(f'{4:.1e}')
#
print(f'{4:.2e}')
#f
print(f'{455:.2e}')
#
print(f'{1000:.5E}')

4.000000e+00
4.0e+00
4.00e+00
4.55e+02
1.00000E+03

In [22]:
print(f'{Decimal("1000.0"):.3e}')
1000.0 --> 1.000e+3

1.000e+3

**- Note: There also are integer presentation types (b, o and x or X) that format integers using the binary, octal or hexadecimal number systems.**

In [2]:
#print("%b"%4)#-->error
print("%x"%4)
print("%o"%4)

4
4

In [13]:
print('{:b}'.format(4)) #binary
#
print('{:o}'.format(4)) # octal
#
print('{:x}'.format(4)) # hexadecimal

100
4
4

In [4]:
print(f'{4:b}') #binary
#
print(f'{4:o}') # octal
#
print(f'{4:x}') # hexadecimal

100
4
4